<link href="~/css/site.css" rel="stylesheet" />

@using (Html.BeginForm("EdytujFilm", "Filmy", FormMethod.Post))
            {
                <div class="container">
                    <div class="col-auto">
                        <img scr="~/grafiki/"
                    </div>
                </div>
            }