@model IEnumerable<Filmy.Models.Film>
@{
    Layout = "_Layout";
    ViewData["Title"]= ViewBag.nazwa;
}
<table>
    <thead>
        <tr>
            <th>Tytuł filmu</th>
            <th> Reżyser</th>
            <th>Data dodania</th>
            <th> Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var film in Model)
            {
        <tr>
            <td class="border">@film.Tytul</td>
            <td class="border">@film.Rezyser</td>
            <td class="border">@film.DataDodania.ToString()</td>
            <td class="border">@film.Cena</td>
        </tr>
            }
    </tbody>
</table>
