@model IEnumerable<Koszyk>

<h4 class="header-title">
    Zawartość koszyka
</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Tytul</th>
            <th>Ilość</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var koszyk in Model)
        {
            <tr>
                <td><a href="@Url.Action("Szczegoly", "Filmy", new { id = koszyk.Film.Id })">@koszyk.Film.Tytul</a></td>
                <td>@koszyk.Ilosc</td>
                <td>@koszyk.Wartosc</td>
            </tr>
        }
    </tbody>
</table>