@model IEnumerable<Filmy.Models.Kategoria>
@{
    ViewData["Title"] = "Home Page";
}
<header class="menu-bar">
    <nav  class="menu">
        @foreach(var kategoria in Model)
            {
                <a class="menu-link" href="@Url.Action("Lista","Filmy", new{nazwaKategorii=@kategoria.Nazwa.ToUpper()})">
                    @kategoria.Nazwa
                </a>
            }
    </nav>
</header>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
